.target {
  border: 2px solid red;
  position: absolute;
  top: -980px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(20deg);
}

.introContainer {
  padding-top: 1600px;
  animation: autoscroll 900s linear;
  color: #F1634E
}

@keyframes autoscroll {
  to {
    margin-top: -5000px;
  }
}
