body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-family: sans-serif;
  background: rgb(24, 24, 24, .3) url('star-wars1.jpg') no-repeat;
  background-size: auto;
  background-blend-mode: multiply;
}
